LABEL gregor
TEXT HELP
Boot GregorOpmannOS on BIOS.
Boot GregorOpmannOS to perform system maintenance with the automatic root convenience on the lightweight XFCE4 desktop.
ENDTEXT
MENU LABEL GregorOpmannOS Live (%ARCH%, BIOS)
LINUX /gregor0/boot/%ARCH%/vmlinuz-linux
INITRD /gregor0/boot/%ARCH%/initramfs-linux.img
APPEND archisobasedir=gregor0 archisolabel=GREGORO_OS copytoram=y

# Accessibility boot option
LABEL gregorspeech
TEXT HELP
Boot GregorOpmannOS to perform system maintenance with the automatic root convenience on the lightweight XFCE4 desktop with speakup screen reader.
ENDTEXT
MENU LABEL GregorOpmannOS Live (%ARCH%, BIOS) with ^speech
LINUX /gregor0/boot/%ARCH%/vmlinuz-linux
INITRD /gregor0/boot/%ARCH%/initramfs-linux.img
APPEND archisobasedir=gregor0 archisolabel=GREGORO_OS accessibility=on copytoram=y
